body{
    margin: auto;
    overflow-x: hidden;
}
/* 
    WARNING : Don't forget "overflow-x: hidden;" in your <body> otherwise you'll get a scrollbar on window's X axis

    If you want switch scroll direction from ' left to right ' to 'right to left', you have to switch instructions in move keyframe animation 
*/

#mainCryptoBox{
    background-color: #000;

    width: 100%;
    position: static;
    top:0px;
    left:0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: fit-content;
}

.cryptoText,.cryptoSpan{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cryptoText{
    color: #FFF;
    padding: 10px;
    margin: auto;
}

.cryptoSpan{
    color: red;
    display: block;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
}

.btc{color:rgb(255, 217, 0);}

.boxCrypto{
    height: fit-content;
    animation: move 20s linear infinite;
}

@keyframes move{
    0%{
        transform: translateX(-100vw);
    }
    
    100%{
        transform: translateX(100vw);
    }
}